* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1149.3px;
    margin: 0 auto;
}

.header {
    background: #EEEFF1;
    padding-top: 57px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__list li {
    margin-left: 44.51px;
}

.header__list a {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000;
    text-decoration: none;
    transition: 0.5s all; <!-- плавная анимация -->
}

.header__list a:hover {
    color: #b7a6bb;
}

.main {
    background: #EEEFF1;
    padding-top: 95px;
    padding-bottom: 146px;
}

.main__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content {
    margin-left: 130px;
}

.main__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.main__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 33px;
    margin-bottom: 52px;
}

.main__btn {
    margin-left: 157px;
    padding: 25px 41px;
    background: #34547A;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transition: .3s all;
}

.main__btn a {
    text-decoration: none;
}

.btn__txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.main__btn:hover {
    background: #b7a6bb;
}

.about {
    padding-top: 42px;
    padding-bottom: 52px;
}

.about__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 45px;
}

.about__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    color: #727272;
}
.about__img {
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prosto {
    background: #34547A;
    padding-top: 37px;
    padding-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects {
    background: #DBD3DD;
}
.projects__title {
    padding-top: 52px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 45px;
}

.projects__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    color: #727272;
}

.projects__img {
    padding-top: 30px;
    padding-bottom: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 240px;
    margin-right: 246px;
}

.contacts__title {
    padding-top: 35px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 36px;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    color: #727272;
}

.contacts__img {
    display: flex;
    list-style: none;
}

.contacts__img li {
    padding-top: 63px;
    padding-bottom: 158px;
    margin-left: 25.1px;
}

.form__title {
    padding-top: 120 px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-bottom: 46px;
}

.form {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    max-width: 540px;
    margin: 96px 230px 230px;
    color: #727272;
}

.data {
    width: 540px;
    height: 160.76px;
    left: 1137px;
    margin-left: 400px:
}

input {
    margin: 10px auto;
    border: 0px solid #fff;
    border-bottom: 2px solid #4d4d4d;
    padding: 10px 20px;
    font-size: 16px;
    width: 362px;
    background-color: transparent;
}

.form__btn{
    padding: 25px 41px;
    background: #34547A;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transition: .3s all;
}

.form__btn:hover {
    background: #b7a6bb;
}

textarea {
    display: inline-block;
    border: 0px;
    border-bottom: 2px solid #4d4d4d;
    padding: 10px 20px;
    font-size: 16px;
    width: 362px;
    background-color: transparent;
}


.footer__txt {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    padding-left: 100px;
}

.footer {
    background: #34547A;
    padding-top: 45px;
    padding-bottom: 45px;
}




